---
import ContactForm from "./contactus";
import Layout from '~/layouts/BaseLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Contact Us`;
---

<Layout meta={{ title }}>
  <<p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          <ContactForm/>
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>