---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import LatestPosts from '~/components/blog/LatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <!-- callToAction2={{ text: 'Learn more', href: '#features' }} -->
  <Hero
    callToAction={{ text: 'Join Our Community', href: '' }}
    image={{ src: import('~/assets/images/hero.jpg'), alt: 'DevHack Hero Image' }}
  >
    <Fragment slot="title">DevHack</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">
          Welcome to DevHack, a non-profit organization that empowers students to unleash their creativity, technical
          skills, and passion for social good in the field of software engineering.With our events and programs, we aim
          to cultivate a culture of collaboration, learning, and impact, where every member can make a difference in the
          world.</span
        >
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  

  <Content
    title="How DevHack IUB Can Help You Grow Your Tech Skills and Career?"
    items={[
      {
        title: 'Workshops',
        description: '',
      },
      {
        title: 'Hackathons',
        description: '',
      },
      {
        title: 'Networking Opportunities',
        description: '',
      },
      {
        title: 'Community of Tech Enthusiasts',
        description: '',
      },
    ]}
    image={{
      src: import('~/assets/images/DevHack.webp'),
      alt: 'Colorful Image',
    }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"></h3>
    </Fragment> -->
  </Content>

  
  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  
  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Join ',
      href: 'https://forms.gle/hcbYiydGVwcUAANc9',
      // icon: 'tabler:community',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
