---
import Logodev from '/images/fullLogo.svg';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src={Logodev} alt="Logo DevHack" class="h-[30px]" />
</span>
